@import 'nativescript-theme-core/css/forest.css';
Page {
  background-color: white;
  font-size: 15;
}

TextField {
  padding: 10;
  font-size: 13;
}

.material-icon {
  font-family: 'Material-Design-Iconic-Font';
  font-size: 22;
  background-color: rgba(0, 0, 0, 0);
}