.listItemStackLayout {
  background-color: white;
  padding: 8;
  border-bottom: 1;
  border-bottom-color: black
}

.labelName {
  font-size: 20;
  margin-bottom: 8;
}

.labelTitle {
  font-size: 14;
  font-weight: bold;
}

.labelText {
  font-size: 12;
}

.listItemSwipeGridLayout {
  background-color: white;
}

.listItemSwipeGridLayout label {
  font-size: 20;
}

.markViewStackLayout {
  vertical-align: center;
  background-color: seagreen;
  color: white;
}

.deleteViewStackLayout {
  vertical-align: center;
  background-color: indianred;
  color: white;
}

.handleImage {
  margin: 16;
}

.listButton {
  border-color: rgba(0, 0, 0, 0);
  border-width: 0;
  font-size: 28;
  padding-top: 8;
  padding-bottom: 8;
  padding-left: 26;
  padding-right: 26;
}