.listItemStackLayout {
  background-color: white;
  padding: 8;
  border-bottom: 1;
  border-bottom-color: black
}

.labelName {
  font-size: 20;
  margin-bottom: 8;
}

.labelTitle {
  font-size: 14;
  font-weight: bold;
}

.labelText {
  font-size: 12;
}

.listItemSwipeGridLayout {
  background-color: transparent;
}

.listItemSwipeGridLayout label {
  font-size: 20;
  background-color: transparent;
}

.markViewStackLayout {
  vertical-align: center;
  background-color: seagreen;
  color: white;
}

.deleteViewStackLayout {
  vertical-align: center;
  background-color: indianred;
  color: white;
}

.handleImage {
  margin: 16;
}

.listButton {
  font-size: 48;
  padding: 16;
}

.listMaterial {
  font-size: 28;
  padding: 5
}